.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
}

#Ultraschallgerät\ 1{
    background-color: #ff3232;
    left: 105px;
    top: 532px;
}

#Ultraschallgerät\ 2{
    background-color: deepskyblue;
    left: 581px;
    top: 350px;
}

#Ultraschallgerät\ 3{
    background-color: lawngreen;
    left: 151px;
    top: 340px;
}

#text-box {
    background-color: #717171;
    height: 300px;
    width: 250px;
    border-radius: 2%;

    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    padding: 15px;
}